body{background-color: rgb(171, 194, 236);text-align: center;}
h1{color: darkblue;text-decoration:underline;}
#para1{color: blueviolet;font-size: 20px;}
.class1{color: rgb(157, 103, 111);font-size: 20px;}
.class2{color: chocolate;font-size: 20px;}